name: MCP AI Test Generator

on:
  pull_request:
    branches: [ main ]

jobs:
  generate-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Call MCP Server for Test Generation
        run: |
          curl -X POST https://luther-unmagnetical-lumpingly.ngrok-free.dev/generate-tests \
          -H "Authorization: Bearer ${{ secrets.MCP_TOKEN }}" \
          -H "Content-Type: application/json" \
          -d '{
                "repo": "${{ github.repository }}",
                "pr": "${{ github.event.pull_request.number }}",
                "branch": "${{ github.head_ref }}",
                "files": ["src/HelloWorld.java"]
              }'
